@import "../../vendor/bootstrap/less/bootstrap.less";
#application .container > div{
	display:flex;
	flex-flow:row wrap;
	align-content:space-between;
	header, section, footer{
		flex:1 100%;
	}
}


nav, footer{
	&:extend(.navbar all, .navbar-default all);
}
footer{
	&:extend(.navbar-inverse all);
}
nav > div > ul,
footer > ul {
	&:extend(.nav all, .navbar-nav all);
}
.photo-center-stage{
	&:extend(.jumbotron);
	min-height:575px;
}
.raspicam-interface-photo{
	.make-md-column(8);
	margin:auto;

	.raspicam-wrap{
		text-align:center;
	}
	input[type=submit]{
		&:extend(.btn all, .btn-primary all, .btn-lg);
	}
	form{
		clear:both;
		padding-top:5px;
	}
	img{
		margin:auto;
	}
}
li.dropdown:hover .dropdown-menu{
	display:block;
}
.photo-grid-item{
	.make-md-column(4);
	cursor:pointer;
	div{
		background-color: @gray-lighter;
		padding:10px;
		margin:10px;
	}
	img{
		width:50%;
		display:block;
		margin:auto;
	}
	h4{
		text-align: center;
	}
}
.photo-stage{

	button{
		&:extend(.btn all, .btn-default all);
		float:left;
		.photo-image &,
		.panel &,
		.photo-recent-layout &{
			display:none;
		}
	}
	h4{
		&:extend(.form-control all);
	}
	.header{
		&:extend(.input-group all);
	}
	img{
		display:block;
		margin:auto;
	}
}


.container .raspicam-interface-photo{
	float:none;
	text-align:center;
}
.photo-list{
	.make-md-column(4);
	overflow-y:auto;
}
.photo-image{
	.make-md-column(8);
}
.raspicam-interface-history{
	.photo-list ul{
		&:extend(.nav all, .nav-pills all, .nav-stacked all);
	}
}
.photo-history-layout{
	display:flex;
	flex-direction:row;
  justify-content: space-around;

	.photo-list, 
	.photo-image{
		flex:100% 40%;
	}
	.photo-image{
		flex:100% 60%;
	}
}