@import "../../vendor/bootstrap/less/bootstrap.less";

.raspicam-interface-photo{
	.make-md-column(8);
	margin:auto;

	.raspicam-wrap{
		text-align:center;
	}
	input[type=submit]{
		&:extend(.btn all, .btn-primary, .btn-lg);
	}
	form{
		clear:both;
		padding-top:5px;
	}
	img{
		margin:auto;
	}
}
.container .raspicam-interface-photo{
	float:none;
}