<!DOCTYPE html>
<html>
  <head>
    <title>Raspberry Pi Camera Web Interface for Stills</title>
    <link rel='stylesheet' href='/stylesheets/main.css' />
  </head>
  <body>
  	<div class="raspicam-interface-photo">
	    <div><img src="/images/camera_shutter.png" alt="Raspberry Pi Camera Image" id="main-image"/></div>
	    <form action="/capture"><input tabindex="0" type="submit" value="Capture"></form>
  	</div>
    <script type="text/javascript" data-main="/javascripts/main.js" src="/javascripts/require.js"></script>
  </body>
</html>