<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Photo History</title>
	<link rel='stylesheet' href='/stylesheets/main.css' />
</head>
<body id="application">
	<div class="container raspicam-interface-history"></div>
	<script type="text/javascript" data-main="/javascripts/history.js?q=what123" src="/javascripts/require.js"></script>
</body>
</html>